{% from "macros/render_launch.html" import render_launch %} {% extends
"base.html" %} {% block body %}
<div class="header">
    <h1 class="header__title">SpaceX Launch Tracker</h1>
    <ul class="header__menu">
        <li class="header__menu__item">
            <a class="header__menu__item__link" id="successful__link" href="#successful">Successful</a>
        </li>
        <li class="header__menu__item">
            <a class="header__menu__item__link" id="failed__link" href="#failed">Failed</a>
        </li>
        <li class="header__menu__item">
            <a class="header__menu__item__link" id="upcoming__link" href="#upcoming">Upcoming</a>
        </li>
    </ul>
</div>

<div class="timeline">
    <div id="successful">
        {% for id, launch in enumerate(launches.successful) %}
        {% if id % 2 == 0 %}
        {{ render_launch(launch, "left-side") }}
        {% else %}
        {{ render_launch(launch, "right-side") }}
        {% endif %}
        {% endfor %}
    </div>
    <div id="failed">
        {% for id, launch in enumerate(launches.failed) %}
        {% if id % 2 == 0 %}
        {{ render_launch(launch, "left-side") }}
        {% else %}
        {{ render_launch(launch, "right-side") }}
        {% endif %}
        {% endfor %}
    </div>
    <div id="upcoming">
        {% for id, launch in enumerate(launches.upcoming) %}
        {% if id % 2 == 0 %}
        {{ render_launch(launch, "left-side") }}
        {% else %}
        {{ render_launch(launch, "right-side") }}
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}